$bg: #411152;
$main: #82319E;
$light: #C860EB;
$contrastDark: #3A5209;
$contrasrLight: #7A9E31;

body{
	background: $bg;
	min-height: 100vh;
	min-width: 100vw;
}
.root{
	display: flex;
	justify-content: center;
	align-items: center;
}
.App {
	background: $main;
	border: 3px solid $contrastDark;
	box-sizing: 0 0 15px $main;
	width: 50vh;
	height: 50vh;
	display: flex;
	align-items: center;
	&:hover{
		box-shadow: 0 0 20px $light;;
	}
}
