$main: hsl(0,0%,10%);
form{
	fieldset{
		height:100%;
		color: black;
		border: 3px solid black;
		legend {
			text-transform: uppercase;
			border: 1px solid black;
		}
		.displayer {
		display: block;
		width: 90%;
		text-align: center;
		margin: 2em 0;
		background: hsl(0,0%,0%);
		color: transparent;
		text-shadow: -1px -1px 2px hsla(0,100%,50%,0.8);
		padding: 0.5em;
		cursor:unset;
		}
}
}
label {
	margin:10px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 4em;
	height: 2em;
	span{
		position: relative;
		display: inline-block;
		cursor:pointer;
		font-size:1.2rem;
	}
	.powerBtn{
		width: 1.6em;
		height: 1.6em;
		background: hsl(0,0%,10%);
		box-shadow: 0 3px 4px hsl(0,0%,0%),
								inset 0 -2px 5px hsl(0,0%,0%),
								inset 0 2px 2px hsla(0,0%,100%,0.5),
								0 0 0 2px hsl(0,0%,0%),
								0 0 0 5px $main,
								0 0 0 6px hsl(0,0%,0%);
		border-radius: 50%;
	}
	.pwrIcon{
		position:absolute;
		left: 50%;
		top: 50%;
		transform: translate(-100%,-50%);
		transition: .3s;
	}
	.bankSlider {
		width: 3.2em;

		height: 1.6em;
		background: linear-gradient(hsl(0,0%,0%), hsl(0,0%,25%));
		box-shadow: 0 0 0 3px hsl(0,0%, 25%), 0 0 10px hsl(0,0%,0%),
						inset 0 0 25px hsl(0,0%,0%), inset 0 0 15px hsl(0,0%,0%);
		inset: 0;
		border-radius: 1em;
		transition: .3s;
		&:before {
			position:absolute;
			content: '';
			height: 1.1em;
			width: 2em;
			left: 0.2em;
			bottom: 0.2em;
			background: linear-gradient(hsl(0,0%,20%), hsl(0,0%,10%));
			border: 0.1em solid hsla(0,0%,10%,0.5);
			border-radius: 1em;
			transition: .3s;
		}
	}
	input[type='checkbox']{
		appearance: none;
		-webkit-appearance: none;
		width: 0;
		height: 0;
		transition: .3s;
		&:checked + .bankSlider:before{
			transform: translateX(0.8em);
		}
		&:checked ~ .pwrIcon {
			fill: hsl(0,100%,50%);
		}
		&:checked ~ .powerBtn {
		box-shadow: 0 0 0 hsl(0,0%,0%),
								inset 0 0 10px hsl(0,100%,50%),
								inset 0 -2px 5px hsl(0,0%,0%),
								inset 0 1px 1px hsla(0,0%,100%,0.5),
								0 0 0 2px hsl(0,0%,0%),
								0 0 0 5px $main,
								0 0 5px 6px hsl(0,100%,50%);
		}
	}
}
.light{
	background: linear-gradient(hsl(340,100%,50%), hsl(340,100%,30%)) !important;
	box-shadow: 0 0 0 3px hsl(0,0%, 25%),
							0 0 10px hsl(0,0%,0%),
							inset 0 0 5px hsl(0,0%,0%), 
							inset 0 0 15px hsl(0,0%,0%);
	&:before{
		box-shadow: 0 0 5px hsl(340,100%,70%);
		background: linear-gradient(hsl(0,0%,15%), hsl(0,0%,5%));
	}
}
.light2{
	background: linear-gradient(hsl(10,100%,50%), hsl(10,100%,30%)) !important;
	box-shadow: 0 0 0 3px hsl(0,0%, 25%), 
							0 0 10px hsl(0,0%,0%),
							inset 0 0 5px hsl(0,0%,0%), 
							inset 0 0 15px hsl(0,0%,0%);
	&:before{
		box-shadow: 0 0 5px hsl(10,100%,70%);
		background: linear-gradient(hsl(0,0%,15%), hsl(0,0%,5%));
	}
}
