$main: hsl(0,0%,10%);
$black: black;

body{
	font-family: 'Alfa Slab One', cursive;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.off{
	background: radial-gradient(
							circle at top 10% left 50%,
							transparent 0%,
							hsl(0, 0%, 0%) 10%,
							transparent 10.5%,
							hsl(0, 0%, 0%) 12%,
							transparent 12%,
							hsl(0, 0%, 0%) 90%,
							),
							$main;
}
.on{
	background: radial-gradient(
							circle at top 10% left 50%,
							transparent 0%,
							hsl(0, 0%, 0%) 10%,
							transparent 10.5%,
							hsl(0, 0%, 0%) 12%,
							transparent 12%,
							hsla(0,100%,50%, 0.2) 25%,
							transparent 40%,
							hsl(0, 0%, 0%) 90%,
							),
							$main;
}
#drum-machine {
	background: $main;
	padding: 30px;
	border: 5px solid black;
	min-width: 50vh;
	min-height: 50vh;
	display: flex;
}
#clip-name {
	width: 80%;
	min-height: 50px;
	text-justify: center;
	text-align: center;
}
#display {
	width: 50%;
	height: 100%;
	padding: 20px;
}
