$bg: #411152;
$btnGray:rgb(70,80,90);
$main: hsl(0,0%,10%);
$light: #C860EB;
$contrastDark: #3A5209;
$contrastLight: #7A9E31;

body{
	font-family: 'Alfa Slab One', cursive;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.off{
	background: radial-gradient(
							circle at top 10% left 50%,
							transparent 0%,
							hsl(0, 0%, 0%) 10%,
							transparent 10.5%,
							hsl(0, 0%, 0%) 12%,
							transparent 12%,
							hsl(0, 0%, 0%) 90%,
							),
							$main;
}
.on{
	background: radial-gradient(
							circle at top 10% left 50%,
							transparent 0%,
							hsl(0, 0%, 0%) 10%,
							transparent 10.5%,
							hsl(0, 0%, 0%) 12%,
							transparent 12%,
							hsla(0,100%,50%, 0.2) 25%,
							transparent 40%,
							hsl(0, 0%, 0%) 90%,
							),
							$main;
}
#drum-machine {
	background: $main;
	padding: 30px;
	border: 3px solid $contrastDark;
	min-width: 50vh;
	min-height: 50vh;
	display: flex;
	align-items: center;
}
#clip-name {
	width: 80%;
	min-height: 50px;
	text-justify: center;
	text-align: center;
}
#display {
	width: 50%;
	height: 100%;
	padding: 20px;
}
#drum-pads {
	display: grid;
	grid-gap: 15px;
	grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
}
.drum-pad{
	margin: 5px;
	min-height: 100px;
	aspect-ratio: 1;
	height: 30%;
	background: $btnGray;
	box-shadow: 0 0 0 5px black,
	0 0 0 10px $btnGray;
}
